# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List of popular languages for Data Science
+ List of commonly used libraries used by Data Science
+ 3 of development environment open source tools used by Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. keras
4. Spark

|Data Science Tools|
|------|
|Jupyter Notebooks|
|Zeppelin Notebooks|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Chrisi Giannakoudaki